/* =========================
        BASE start
========================= */
* {
    box-sizing: border-box;
}

html,
body
{
height: auto;
width: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #050f29;
}

main {
    height: auto;
    overflow: visible;
    display: block;
}

a {
    color: #0072bb;
}

a:hover,
a:active,
a:visited:hover {
    color: #d181ff;
    /* pastel purple when hovered even if visited */
}


/* Font Faces */
@font-face {
    font-family: 'liquify';
    src: url(../fonts/liquify.regular.otf);
}

@font-face {
    font-family: 'mayego';
    src: url('../fonts/mayego-demo.ttf') format('truetype');
}

@font-face {
    font-family: 'mochibop';
    src: url('../fonts/mochibopbold-demo.ttf') format('truetype');
}

/* =========================
        BASE end
========================= */

/* ============== Navbar Start ============== */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 20px 30px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #204e8a;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: #204e8a;
    font-size: 25px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #204e8a;
    color: #fff;
    transform: translateY(-2px);
}

.navbar a.active {
    color: #fff;
    transform: translateY(-2px);
    background: linear-gradient(90deg,
            #5569d1,
            #7a7fff,
            #a66cff,
            #d181ff,
            #ff7ff5,
            #d181ff,
            #a66cff,
            #7a7fff,
            #5569d1);
    background-size: 300% 300%;
    animation: gradientFlow 10s linear infinite;
}

.navbar a.active:hover {
    color: #fff;
    background: linear-gradient(90deg,
            #5569d1,
            #7a7fff,
            #a66cff,
            #d181ff,
            #ff7ff5,
            #d181ff,
            #a66cff,
            #7a7fff,
            #5569d1);
    background-size: 300% 300%;
    animation: gradientFlow 10s linear infinite;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
    }
}

.faq-wrapper {
    font-family: 'mochibop', sans-serif;
    color: #0072bb;
}

#faq-section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title {
    font-size: 5rem;
    margin: 2rem 0rem;
    color: #f88cf3;
    font-family: liquify;
}

@keyframes wiggle {
  0%, 100%   { transform: translateY(0) skewX(0deg); }
  25%        { transform: translateY(-10px) skewX(5deg); }
  50%        { transform: translateY(10px) skewX(-5deg); }
  75%        { transform: translateY(-6px) skewX(3deg); }
}

.faq {
    max-width: 1400px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #2e66af;
    cursor: pointer;
    font-size: 1.6rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 2.1rem;
    color: #f88cf3;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #7099ce;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
}

.faq.active .answer {
    max-height: 300px;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 1 ease-in;
}

.faq-context p {
    font-size: 1.9rem;
}

.sticker5 {
  width: 20vw;  
  position: absolute;
  top: 12vh;    
  right: 10vw;
  height: auto;
  transform: rotate(7deg); 
  pointer-events: none;
}