/* =========================
   1. Base / Reset / Defaults
========================= */
* {
    box-sizing: border-box;
}

html,
body
{
height: auto;
width: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #050f29;
}

body.index-page {
  overflow: hidden; /* locks scroll only on index.html */
}

main {
    height: auto;
    overflow: visible;
    display: block;
}

a {
    color: #2e66af;
}

a:hover,
a:active,
a:visited:hover {
    color: #d181ff;
    /* pastel purple when hovered even if visited */
}


/* Font Faces */
@font-face {
    font-family: 'liquify';
    src: url(../fonts/liquify.regular.otf);
}

@font-face {
    font-family: 'mayego';
    src: url('../fonts/mayego-demo.ttf') format('truetype');
}

@font-face {
    font-family: 'mochibop';
    src: url('../fonts/mochibopbold-demo.ttf') format('truetype');
}

/* =========================
   2. Grid Layout
========================= */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
    gap: 8px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid h1 {
    color: #f88cf3;
    font-weight: 1000;
    font-family: liquify;
}

.grid p {
    font-family: mochibop;
    color: #2e66af;
}

/* =========================
   2. Grid Items
========================= */

.grid1 {
    grid-column: span 12 / span 12;
    grid-row: span 3 / span 3;
    padding: 10px;
}

.grid2 {
    grid-column: span 12 / span 12;
    grid-row: span 3 / span 3;
    grid-row-start: 4;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    gap: 20px;
    background: radial-gradient(100% 100% at var(--4-x-position) var(--4-y-position), #0a1944 0%, transparent),
        radial-gradient(100% 100% at var(--5-x-position) var(--5-y-position), #220d33 0%, transparent), #050f29;
    animation-name: main;
    animation-iteration-count: infinite;
    animation-duration: 14s;
    transition-timing-function: ease-in border-radius: 10px;
    border-radius: 10px;
    height: 100%;
}

.grid3 {
    grid-column: span 12 / span 12;
    grid-row: span 3 / span 3;
    grid-row-start: 7;
    padding: 10px;
}

.grid4 {
    grid-column: span 12 / span 12;
    grid-row: span 3 / span 3;
    grid-row-start: 10;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    gap: 20px;
    background: radial-gradient(100% 100% at var(--4-x-position) var(--4-y-position), #0a1944 0%, transparent),
        radial-gradient(100% 100% at var(--5-x-position) var(--5-y-position), #220d33 0%, transparent), #050f29;
    animation-name: main;
    animation-iteration-count: infinite;
    animation-duration: 14s;
    transition-timing-function: ease-in border-radius: 10px;
    height: 100%;
    border-radius: 10px;
}

.socialsgr {
    grid-column: span 12 / span 12;
    grid-row: span 3 / span 3;
    grid-row-start: 13;
    padding: 10px;
    display: grid;
    align-items: center;
    grid-column-start: 2;
}

.socialshover {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.socialshover:hover {
    transform: scale(1.1);
}
/* =========================
   2. Tables
========================= */
table,
th,
td {
    border: 15px solid transparent;
    border-collapse: collapse;
    border-radius: 10px;
    color: white;
    font-family: 'mochibopbold', sans-serif;
    text-align: center;
    padding: 8px;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even) {
    background-color: #102864;
}

tr:nth-child(odd) {
    background-color: #001753;
}

/* =========================
   3. Navigation / Navbar
========================= */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 20px 30px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #204e8a;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: #204e8a;
    font-size: 25px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #204e8a;
    color: #fff;
    transform: translateY(-2px);
}

.navbar a.active {
    color: #fff;
    transform: translateY(-2px);
    background: linear-gradient(90deg,
            #5569d1,
            #7a7fff,
            #a66cff,
            #d181ff,
            #ff7ff5,
            #d181ff,
            #a66cff,
            #7a7fff,
            #5569d1);
    background-size: 300% 300%;
    animation: gradientFlow 10s linear infinite;
}

.navbar a.active:hover {
    color: #fff;
    background: linear-gradient(90deg,
            #5569d1,
            #7a7fff,
            #a66cff,
            #d181ff,
            #ff7ff5,
            #d181ff,
            #a66cff,
            #7a7fff,
            #5569d1);
    background-size: 300% 300%;
    animation: gradientFlow 10s linear infinite;
}

/* =========================
   4. Utility / Page
========================= */

.faq-wrapper {
    font-family: 'mochibop', sans-serif;
    color: #204e8a;
}

#faq-section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title {
    font-size: 5rem;
    margin: 2rem 0rem;
    color: #f88cf3;
    font-family: liquify;
}

@keyframes wiggle {
  0%, 100%   { transform: translateY(0) skewX(0deg); }
  25%        { transform: translateY(-10px) skewX(5deg); }
  50%        { transform: translateY(10px) skewX(-5deg); }
  75%        { transform: translateY(-6px) skewX(3deg); }
}

.faq {
    max-width: 1400px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #2e66af;
    cursor: pointer;
    font-size: 1.6rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 2.1rem;
    color: #f88cf3;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #7099ce;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
}

.faq.active .answer {
    max-height: 300px;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 1 ease-in;
}

.faq-context p {
    font-size: 1.9rem;
}


#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    font-family: mochibop;
    color: #2e66af;
    font-size: 2.4rem
}

.wavy-text span {
    font-size: 6.4rem;
    color: #f88cf3;
    font-weight: 1000;
    font-family: liquify;
}

.wavy-text {
    display: inline-block;
}

.wavy-text span {
    display: inline-block;
    animation: warp 5s infinite ease-in-out;
}

.wavy-text span:nth-child(1) {
    animation-delay: 0s;
}

.wavy-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.wavy-text span:nth-child(3) {
    animation-delay: 0.2s;
}

.wavy-text span:nth-child(4) {
    animation-delay: 0.3s;
}

.wavy-text span:nth-child(5) {
    animation-delay: 0.4s;
}

.wavy-text span:nth-child(6) {
    animation-delay: 0.5s;
}

.wavy-text span:nth-child(7) {
    animation-delay: 0.6s;
}

.wavy-text span:nth-child(8) {
    animation-delay: 0.7s;
}

/* continue for all letters */

@keyframes warp {

    0%,
    100% {
        transform: translateY(0) rotate(0deg) skewX(0deg);
    }

    25% {
        transform: translateY(-20px) rotate(-5deg) skewX(-5deg);
    }

    50% {
        transform: translateY(20px) rotate(5deg) skewX(5deg);
    }

    75% {
        transform: translateY(-15px) rotate(-3deg) skewX(-3deg);
    }
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background: radial-gradient(100% 100% at var(--4-x-position) var(--4-y-position), #0a1944 0%, transparent),
        radial-gradient(100% 100% at var(--5-x-position) var(--5-y-position), #5f1a5d96 0%, transparent), #31230686;
    animation-name: main;
    animation-iteration-count: infinite;
    animation-duration: 14s;
    transition-timing-function: ease-in border-radius: 10px;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.6s ease, box-shadow 0.5s ease;
}

.blog-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(248, 140, 243)
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: mochibop;
}

.blog-text span {
    color: #2e66af;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #91c1ff;
}

.blog-text .blog-title:hover {
    color: rgb(192, 131, 216);
    transition: all ease;
}

.blog-text p {
    color: #7099ce;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #2e66af;
}

.blog-text a:hover {
    color: rgb(206, 163, 255);
    transition: all ease 0.3s;
}

/* =========================
   5. Flex Containers
========================= */

.container3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding: 80px 50px 0 20px;
    /* top, right, bottom, left */
    box-sizing: border-box;
}

.rolespos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 40px 20px 0 130px;
    /* top, right, bottom, left */
    box-sizing: border-box;
}

/* =========================
decoration
========================= */

.beta-text {
    font-family: mochibop;
    color: #5a6c84;
    font-size: small;
    position: fixed;
    max-width: 200px;
    text-align: center;
    top: 4vh;
    right: 0vw;
}

.curvedname {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: 'liquify', sans-serif;
    font-size: 60px;

    z-index: -1;
    /* behind everything */
    pointer-events: none;
    /* clicks pass through */
}

.curvedname-container {
    position: fixed;
    /* stays in background even while scrolling */
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.curvedname text {
    animation: pulseColor 5s infinite linear;
    fill: #39ff14;
}

.welcometext {
    font-size: 35px;
    pointer-events: none;
    text-align: center;
    font-weight: 850;
    top: 50vh;
    left: 5vw;
    position: fixed;
}

.welcometext h1 {
    color: #f88cf3;
}

.welcometext p {
    font-family: mochibop;
    color: #2e66af;
}

.overheretext {
    font-size: clamp(18px, 2vw, 25px);
    transform: rotate(10deg);
    pointer-events: none;
    text-align: center;
    color: #f88cf3;
    top: 13vh;
    right: 30vw;
    position: fixed;
}

.text-changer {
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    color: #2e66af;
    font-family: 'mochibop', sans-serif;
    font-size: 25px;
    font-weight: 500;
    box-sizing: content-box;
    transform: scale(3);
}

.intro-text {
    margin-top: -2px;
}

.roles-container {
    overflow: hidden;
    position: relative;
}

.role {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #f88cf3;
    animation: role-change 5s infinite;
}

.hzlogo {
    width: 500px;
    float: left;
    shape-outside: circle(50%);
}

.hztext {
    pointer-events: auto;
    font-size: 30px;
    max-width: 1450px;
}


.mygftext {
    font-size: 30px;
    max-width: 1000px;
    text-align: right;
    justify-self: end;
}

.mygf {
    width: 650px;
    height: auto;
    border-radius: 20px;
    padding: 8px;
    grid-column: 2;
    grid-row: 1;
}

.gamingtext {
    font-size: 30px;
    max-width: 1450px;
    text-align: left;
}

.gaming {
    width: 500px;
    float: left;
}

.lifter {
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 8px;
    grid-column: 2;
    grid-row: 1;
}

.liftertext {
    pointer-events: none;
    font-size: 30px;
    max-width: 1250px;
    text-align: right;
    justify-self: end;

}

.socialstext {
    pointer-events: auto;
    font-size: 30px;
    max-width: 1250px;
    text-align: center;
}

.socialsicons {
    display: flex;
    justify-content: space-evenly;
}

.socialsicons img {
    filter: invert(32%) sepia(61%) saturate(668%) hue-rotate(173deg) brightness(90%) contrast(92%);
}

.socialsicons p {
    color: #d181ff;
}

.sticker1 {
  width: 14vw;  
  position: absolute;
  top: 30vh;    
  left: 15vw;
  height: auto;
  transform: rotate(7deg); 
  pointer-events: none;
}
.sticker2 {
  width: 14vw;  
  position: absolute;
  top: 10vh;    
  right: 5vw;
  height: auto;
  transform: rotate(10deg); 
  pointer-events: none;
}
.sticker3 {
  width: 20vw;  
  position: absolute;
  top: 10vh;    
  right: 0vw;
  height: auto;
  transform: rotate(15deg); 
  pointer-events: none;
}
.sticker4 {
  width: 20vw;  
  position: absolute;
  top: 25vh;    
  left: 0vw;
  height: auto;
  transform: rotate(-15deg); 
  pointer-events: none;

}
.sticker5 {
  width: 20vw;  
  position: absolute;
  top: 12vh;    
  right: 10vw;
  height: auto;
  transform: rotate(7deg); 
  pointer-events: none;
}

/* =========================
   8. Animations
========================= */
@keyframes pulseColor {
    0% {
        fill: #5569d1;
    }

    20% {
        fill: #7a7fff;
    }

    30% {
        fill: #a66cff;
    }

    40% {
        fill: #d181ff;
    }

    50% {
        fill: #ff7ff5;
    }

    60% {
        fill: #d181ff;
    }

    70% {
        fill: #a66cff;
    }

    80% {
        fill: #7a7fff;
    }

    100% {
        fill: #5569d1;
    }
}

@keyframes role-change {
    10% {
        transform: translateY(-102%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-202%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-302%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-402%);
    }

    100% {
        transform: translateY(-400%);
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
    }
}

@property --4-x-position {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%;
}

@property --4-y-position {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%;
}

@property --5-x-position {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%;
}

@property --5-y-position {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%;
}


:root {

    --4-x-position: 20%;
    --4-y-position: 80%;
    --5-x-position: 80%;
    --5-y-position: 20%;
}


@keyframes main {
    25% {
        --4-x-position: 15%;
        --4-y-position: 15%;
        --5-x-position: 85%;
        --5-y-position: 80%;
    }

    50% {
        --4-x-position: 80%;
        --4-y-position: 15%;
        --5-x-position: 15%;
        --5-y-position: 85%;
    }
}