/* Reset default browser styles */
@font-face {
    font-family: 'liquify';
    src: url(liquify.regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles and background */
body {
    min-height: 100vh;
    background-color: #060f08;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Nunito", sans-serif;
}

.index-page {
    height: 100vh;
    overflow: hidden;
}